{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/material.css' %}">
{% endblock links %}
{% block title %}
    Раздел {{ title }}
{% endblock title %}
{% block main_data %}
    {% for subsection in page_obj %}
        <div class="card text-center mb-5">
            <div class="card-body">
                <h5 class="card-title">{{ subsection.title| truncatewords:7 }} theme</h5>
                <p class="card-text">
                    {{ subsection.description| truncatewords:75 }}
                </p>
                {% thumbnail subsection.image "700x500" crop="center" as im %}
                    <img class="mb-3" src="{{ im.url }}">
                    <br>
                {% endthumbnail %}
            {% for material in materials %}
                <section>
                    <div class="container">
                        <div class="material__wraper">
                            <div class="container-form">
                                <a href="{% url 'grammar:grammar_material' material.id %}"
                                class="">{{ material.title| truncatewords:10 }}</a>
                            </div> 
                        </div>
                    </div>
                </section>
                
                   <hr>
            {% endfor %}
            {% include 'includes/paginator.html' %}
        </div>
    </div>
{% endfor %}
{% endblock main_data %}
