{% load static %}
{% block links %}
<link rel="stylesheet" href="../static/css/includes/main_menu.css">
{% endblock links %}
<section class="main-menu">
    <div class="container">
        <div class="main__wrapper">
            <div class="main__title">Английский для каждого</div>
            <div class="main__text">Сайт, который поможет тебе выучить английский язык благодаря постоянному общению
                со специалистами</div>
            <a class="main__about" href="#">О нас</a>
        </div>
    </div>
</section>