{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="../../static/css/includes/slick.css">
<link rel="stylesheet" href="../../static/css/includes/slick-theme.css">
<link rel="stylesheet" href="../../static/css/includes/main-menu.css">
{% comment %} Сюда прописываешь все линки типа подключение иконок, шрифтов и бла-бла {% endcomment %}
<link rel="stylesheet" href="#">
{% endblock links %}
{% block title %}
{% comment %} Сюда по идее нужно прописывать тайтл, но это тоже нужно делать мне, так как там переменная передаётся,а не вручную прописывается {% endcomment %}
{% endblock title %}
{% block main_data %}
{% comment %} Сюда все что идет в блок main_data в base.html {% endcomment %}
<section class="slider">
    <div class="container">
        <div class="slider__inner">

            <div class="slider__item">
                <div class="slider__item-title">
                    Вы можете многому научиться
                </div>
            </div>

            <div class="slider__item">
                <div class="slider__item-title">
                    Ещё какой-то текст
                </div>
            </div>

            <div class="slider__item">
                <div class="slider__item-title">
                    Может быть реклама
                </div>
            </div>

            <div class="slider__item">
                <div class="slider__item-title">
                    Их можно удалить
                </div>
            </div>

            <div class="slider__item">
                <div class="slider__item-title">
                    Или если понадобиться добавить
                </div>
            </div>
            
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../static/js/main.js"></script>
<script src="../../static/js/slick.min.js"></script>


{% endblock main_data %}