.icon-telegramm a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.icon-telegramm {
    position: fixed;
    right: 10px;
    bottom: 100px;
}
.icon-telegramm__img {
    min-height: 55px;
    min-width: 65px;
    margin-left: 10px;
}

.icon-telegramm__title{
    font-size: 35px;
    color: black;
}

@media screen and (max-width: 1024px) {
    .icon-telegramm__titel { display: none;}
}