* {
    box-sizing: border-box;
    display: inline-block
}

.footer {
    background: linear-gradient(white, #FFCB7C);
    display: flex
}

.container {
    background: linear-gradient(white, #FFCB7C)
}