html {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: #000;
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header {
<<<<<<< HEAD
    /* background: linear-gradient(rgba(255, 203, 124, 0.87) 1%, rgba(255, 200, 117, 0)); */
    background: -webkit-linear-gradient(180deg, rgb(255, 203, 124), rgb(255, 246, 232));
background: -moz-linear-gradient(180deg, rgb(255, 203, 124), rgb(255, 246, 232));
background: linear-gradient(180deg, rgb(255, 203, 124), rgb(255, 246, 232));
=======
    background: linear-gradient(rgba(255, 203, 124, 0.87) 1%, rgba(255, 200, 117, 0));
>>>>>>> 30e262d558a96a33e017b91977444161bd0f3160
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header__logo a {
    color: #000000;
    font-size: 25px;
    font-weight: 300;
}

.header__logo span {
    color: #FFCB7C;
    font-size: 28px;
    font-weight: 300;
    margin-right: 30px;
    padding: 19px 12.5px;
    background-color: #000000;
    border-radius: 25px;
}

.header__menu {
    margin-right: 20px;
}

.header__menu li+li {
    margin-left: 20px;
}

<<<<<<< HEAD

.header__menu a {
    font-weight: 400;
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 13px;
=======
.header__menu a {
    font-weight: 500;
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 13px;
    line-height: 24px;
>>>>>>> 30e262d558a96a33e017b91977444161bd0f3160
}

.header__comme {
    padding-left: 100px;
}