*{
    box-sizing: border-box;
}
.container {
    min-height: 120px;
}

.logo {
    background-color: #000000;
    color: #FFCB7C;
    padding: 15px;
    border-radius: 22px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.titel {
    background-color: transparent;
    color: #000000;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;

}

.fount {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
