{% extends 'base.html' %}
{% load static %}
{% block links %}{% endblock links %}
{% block title %}Главная страница{% endblock title %}
{% block main_data %}
{% include 'main-menu/main-menu.html' %}
{% comment %} <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
</video> {% endcomment %}
<h2 id="about" class='text-center mb-5 pt-3' style="color:coral">Наша команда</h2>

<section class="section about-section gray-bg mb-5 mt-5" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h6 class="theme-color lead cored">Лидер проекта Шеф Анна</h6>
                    <p>Занимается разработкой теоретического и практического материала по грамматическому аспекту.</p>
                    <div class="row about-list ">
                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Образование:</mark></label>
                                <p>Образование: ФСГТ<br> факультет социально-гуманитарных технологий, 2 курс<br> 
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Достижения:</mark></label>
                                <p>Написала 3 статьи</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>E-mail:</mark></label>
                                <p>tarasov.slavas2002@gmail.com</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>О себе:</mark></label>
                                <p>Здравствуйте, меня зовут Анна, я являюсь лидером данного проекта и рада приветствовать Вас на нашем сайте. Я учусь на 2-м курсе по специальности «Педагогическое образование» по профилю «Иностранные языки».  <br> Неоспоримо, что в современном мире образование стало непрерывным, я каждый день убеждаюсь в этом, поскольку для будущего педагога иностранного языка необходимо иметь широкий кругозор.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="{% static 'img/Anna_Chef.jpg' %}" class="img-fluid img-thumbnail " title="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about-section gray-bg mb-5 mt-5" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h6 class="theme-color lead">Тарасов Святослав Александрович, программист проекта</h6>
                    <p>Занимается разработкой визуальной и технической составляющей сайта</p>
                    <div class="row about-list ">
                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Образование:</mark></label>
                                <p>2 курс технологии продукции и <br> организации общественного питания,<br> 10.03.04.
                                    ТППиТМ</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Достижения:</mark></label>
                                <p>Создал серверную часть этого сайта и нарисовал дизайн для него</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>E-mail:</mark></label>
                                <p>tarasov.slavas2002@gmail.com</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>О себе:</mark></label>
                                <p>Хочу стать backend-программистом и <br> программировать серверную составляющую сайтов
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="{% static 'img/Slava.jpg' %}" class="img-fluid img-thumbnail " title="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about-section gray-bg mb-5 mt-5" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h6 class="theme-color lead">Болдырев Никита Александрович, frontend разработчик</h6>
                    <p>Занимается вёрсткой визуальной составляющей сайта</p>
                    <div class="row about-list ">
                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Образование:</mark></label>
                                <p>2 курс технологии продукции и <br> организации общественного питания,<br> 10.03.04.
                                    ТППиТМ</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Достижения:</mark></label>
                                <p>Завершил проект в своей группе и помог завершить этот сайт, сверстав весь визуал</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>E-mail:</mark></label>
                                <p>nikita.08022000@gmail.com</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>О себе:</mark></label>
                                <p>Хочу стать frontend разработчиком</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="{% static 'img/sexiest man in the world.jpg' %}" class="img-fluid img-thumbnail " title=""
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_data %}