{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{% block main_data %}

<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <h2 class='text-center mb-5 pt-3' style="color:coral">Наша команда</h2>
<section class="section about-section gray-bg mb-5 mt-5" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h6 class="theme-color lead">Лидер проекта Шеф Анна</h6>
                    <p>Занимается разработкой теоретического и практического материала по грамматическому аспекту.</p>
                    <div class="row about-list ">
                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Образование:</mark></label>
                                <p>2 курс технологии продукции и <br> организации общественного питания,<br> 10.03.04. ТППиТМ</p>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Достижения:</mark></label>
                                <p>Общепит, 10.03.04. ТППиТМ</p>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>E-mail:</mark></label>
                                <p>tarasov.slavas2002@gmail.com</p>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Возраст:</mark></label>
                                <p>19 лет</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Телефон для связи:</mark></label>
                                <p>89275387816</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>О себе:</mark></label>
                                <p>Хочу стать backend-программистом и <br> программировать серверную составляющую сайтов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="{% static 'img/Anna_Chef.jpg' %}" class="img-fluid img-thumbnail " title="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about-section gray-bg mb-5 mt-5" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h6 class="theme-color lead">Тарасов Святослав Александрович, программист проекта</h6>
                    <p>Занимается разработкой визуальной и технической составляющей сайта</p>
                    <div class="row about-list ">
                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Образование:</mark></label>
                                <p>2 курс технологии продукции и <br> организации общественного питания,<br> 10.03.04. ТППиТМ</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Достижения:</mark></label>
                                <p>Общепит, 10.03.04. ТППиТМ</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>E-mail:</mark></label>
                                <p>tarasov.slavas2002@gmail.com</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Возраст:</mark></label>
                                <p>19 лет</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>Телефон для связи:</mark></label>
                                <p>89275387816</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <label><mark>О себе:</mark></label>
                                <p>Хочу стать backend-программистом и <br> программировать серверную составляющую сайтов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="{% static 'img/Slava.jpg' %}" class="img-fluid img-thumbnail " title="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_data %}