{% load static %}
{% block links %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/includes/footer.css' %}">
{% endblock links %}
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">WT</div>
            <div class="wrapper">
                <div class="footer__title">With Tutor © 2022</div>
                <div class="footer__safe">Все права защищенны</div>
            </div>
        </div>
    </div>
</footer>
