{% load static %}
{% block footer %}
<link rel="stylesheet" href="{% static 'css/includes/footer.css' %}">
<footer class="border-top text-center py-3 card-footer sticky-top">
  <img src="{% static 'img/logos.png' %}" width="100" height="100" class="d-inline-block align-top" alt="">
  <p style="font-size:23px">© 2021 Copyright <span style="color:tomato" class=''>With</span> <span>tutor</span>
  </p>
  <span class="container link about">
    <a href="{% url 'about:index' %}">О нас</a>
  </span>
</footer>
{% endblock footer %}