{% load static %}
{% block links %}
<link rel="stylesheet" href="../../static/css/includes/footer.css">
{% endblock links %}
{% block footer %}
<footer class="footer" style="background: linear-gradient(white, #FFCB7C); height: 142px;">
  <div class="container">
    <div class="iiner" style="text-align: center; margin: 46px; padding-top: 63px;">
      <span class="logo">WT</span>
      <span class="title">With tutor © 2022</span>
      <div class="save" style="padding-left: 115px;">Все права защищенны</div>
    </div>
  </div>

</footer>
{% endblock footer %}