{% comment %} {% load static %} {% endcomment %}
{% comment %} <nav class="navbar navbar-light" style="background-color: lightskyblue"> {% endcomment %}
    {% comment %} <div class="container"> {% endcomment %}
        {% comment %} <a class="navbar-brand p-0" href="{% url 'main_menu' %}"> {% endcomment %}
            {% comment %} <img src="{% static 'img/logos.png' %}" width="100" height="100" class="d-inline-block align-top mb-4" {% endcomment %}
                {% comment %} alt=""> {% endcomment %}
            {% comment %} <span style="color:tomato; font-size:31px">With</span> {% endcomment %}
            {% comment %} <span style="font-size:31px">tutor</span> {% endcomment %}
        {% comment %} </a> {% endcomment %}
        {% comment %} {% with request.resolver_match.view_name as view_name %} {% endcomment %}
        {% comment %} <ul class="nav nav-pills"> {% endcomment %}
            {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} <a class="nav-link {% if view_name == 'grammar:grammar' %}active{% endif %}" style="font-size:26px" {% endcomment %}
                    {% comment %} href="{% url 'grammar:grammar' %}">Теория</a> {% endcomment %}
            {% comment %} </li> {% endcomment %}
{% comment %}  {% endcomment %}
            {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} <a class="nav-link {% if view_name == 'vocabulary:vocabulary_materials' %}active{% endif %}" {% endcomment %}
                    {% comment %} style="font-size:26px" href="{% url 'vocabulary:vocabulary_materials' %}">Практика</a> {% endcomment %}
            {% comment %} </li> {% endcomment %}
{% comment %}  {% endcomment %}
            {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} <a class="nav-link {% if view_name == 'reading:reading_theme' %}active{% endif %}" {% endcomment %}
                    {% comment %} style="font-size:26px" href="{% url 'reading:reading_theme' %}">Чтение</a> {% endcomment %}
            {% comment %} </li> {% endcomment %}
            {% comment %} {% if not user.is_authenticated %} {% endcomment %}
            {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} <a class="nav-link link-light {% if view_name == 'users:signup' %}active{% endif %}" {% endcomment %}
                    {% comment %} style="font-size:26px" href="{% url 'users:signup' %}">Регистрация</a> {% endcomment %}
            {% comment %} </li> {% endcomment %}
            {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} <a class="nav-link link-light {% if view_name == 'users:login' %}active{% endif %}" {% endcomment %}
                    {% comment %} style="font-size:26px" href="{% url 'users:login' %}">Войти</a> {% endcomment %}
            {% comment %} </li> {% endcomment %}
            {% comment %} {% else %} {% endcomment %}
            {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} <a class="nav-link link-light {% if view_name == 'users:logout' %}active{% endif %}" {% endcomment %}
                    {% comment %} style="font-size:26px" href="{% url 'users:logout' %}">Выйти</a> {% endcomment %}
            {% comment %} </li> {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
            {% comment %} {% endwith %} {% endcomment %}
        {% comment %} </ul> {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% comment %} </nav> {% endcomment %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/includes/header.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
{% endblock links %}
<header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="{% url 'main_menu' %}">
                        <span>WT</span>With_Tutor
                    </a>
                </div>
                <nav class="header__menu">
                    <ul>
                        <li>
                            <a href="{% url 'grammar:grammar' %}">
                                Теория
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'vocabulary:vocabulary_materials' %}">
                                Практика
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'reading:reading_theme' %}">
                                Чтение
                            </a>

                        </li>
                        <li class="header__comme">
                            <a href="{% url 'users:login' %}">
                                Войти
                            </a>

                        </li>
                        <li>
                            <a href="{% url 'users:signup' %}">
                                Регистрация
                            </a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </header>