{% load static %}
{% block links %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/includes/header.css">
rel="stylesheet">
{% endblock links %}
<nav class="navbar navbar-light" style="background: linear-gradient(#FFCB7C, #FFF2DE);">
    <div class="container">
        <a class="navbar-brand p-0" href="{% url 'main_menu' %}">
            
            <span class="logo"> WT </span>
            <span class="titel"> With tutor </span>
        </a>
        {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills fount">
            <li class="nav-item">
                <a class="nav-link {% if view_name == 'grammar:grammar' %}active{% endif %}" style="font-size:26px; color: black;"
                    href="{% url 'grammar:grammar' %}">Теория</a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if view_name == 'vocabulary:vocabulary_materials' %}active{% endif %}"
                    style="font-size:26px; color: black;" href="{% url 'vocabulary:vocabulary_materials' %}">Практика</a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if view_name == 'reading:reading_theme' %}active{% endif %}"
                    style="font-size:26px; color: black;" href="{% url 'reading:reading_theme' %}">Чтение</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link link-light {% if view_name == 'users:signup' %}active{% endif %}"
                    style="font-size:26px; color: black;" href="{% url 'users:signup' %}">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light {% if view_name == 'users:login' %}active{% endif %}"
                    style="font-size:26px; color: black;" href="{% url 'users:login' %}">Войти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link link-light {% if view_name == 'users:logout' %}active{% endif %}"
                    style="font-size:26px; color: black;" href="{% url 'users:logout' %}">Выйти</a>
            </li>
            {% endif %}
            {% endwith %}
        </ul>
    </div>
</nav>